body {
  background-color: #333;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
}

.pageouter {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
}

.logo {
  float: right;
  padding: 1rem;
}

.head, .usage, .packages, .roadmap {
  background-color: #000;
  padding: 0.1rem 0;
}

.usage, .packages {
  width: 50%;
  float: left;
}

.packages::after {
  content: "";
  display: block;
  clear: both;
}

h1, h2 {
  color: #FFFF00;
}

h1, h2, p {
  padding: 0 1rem;
}

a {
  color: #37A690;
}

pre {
  margin: 1rem 2rem;
  border: 1px dashed #aaa;
  padding: 0.5rem;
  word-wrap: break-word;
}

li.done {
  text-decoration: line-through;
}
